{% extends "itreporting/base.html" %}
{% block content %}
    <h1>IT Issue Reported</h1>
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}"/>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'itreporting:user-issues' object.author.username %}">{{ object.author.profile }}</a>
                <small class="text-muted">{{ object.date_submitted }}</small>
            </div>
            <h2>{{ object.type }} in {{ object.room }}</h2>
            <p class="article-content">{{ object.details }}</p>
            {% if object.author == user %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'itreporting:issue-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'itreporting:issue-delete' object.id %}">Delete</a>
            {% endif %}
        </div>
    </article>
{% endblock content %}